<h1>A case study in combining Angular, Redux and D3 using SOLID design principles</h1>
<b>This is the demo site for
  <a href="https://engineering.leadspace.com/angular-redux-and-d3-using-solid-design-principles-4df34749ad62">
    https://engineering.leadspace.com/angular-redux-and-d3-using-solid-design-principles-4df34749ad62
  </a>
</b>
<p>
  This Angular page shows four variations on the display of D3's circle packing visualization. The differences in
  implementation are:
</p>
<ol>
  <li>An all-in-one component which reads csv data, processed it and renders the visualization</li>
  <li>A data service and a rendering component, using a csv data source</li>
  <li>A data service and a rendering component, using a json data source</li>
  <li>A data service and a rendering component with a common Redux data store used for communicating between the two
  </li>
</ol>
<div class="widget">
  <h2>All in one component</h2>
  <d3-circle-packing-all-in-one url="flare.csv"></d3-circle-packing-all-in-one>
</div>
<div class="widget">
  <h2>Service & component with CSV data source</h2>
  <d3-circle-packing-renderer [root]="csvRoot"></d3-circle-packing-renderer>
</div>
<div class="widget">
  <h2>Service & component with JSON data source</h2>
  <d3-circle-packing-renderer [root]="jsonRoot"></d3-circle-packing-renderer>
</div>
<div class="widget">
  <h2>Redux</h2>
  <d3-circle-packing-redux field="flareData"></d3-circle-packing-redux>
</div>
